*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    transition: .5s;
}

:root{

    /* primary */

    --main-backgorund:hsl(233, 47%, 7%);
    --card-background:hsl(244, 38%, 16%);
    --accent: hsl(277, 60%, 37%);

    /* neutral */

    --main-heading:hsl(0, 0%, 100%);
    --stats: hsl(0, 0%, 100%);
    --main-paragraph:hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body{
    min-height: 100vh;
    background-color: var(--main-backgorund);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 15px;
}

img{
    max-width: 100%;
}

/* Card Styles */

.card{
    display: flex;
    background-color: var(--card-background);
    margin: 2em;
    border-radius: 15px;
    overflow: hidden;
}

.card__body{
    padding: 4em;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__body__title,
.card__body__rating h2{
    color: var(--main-heading)
}

.card__body__paragraph,
.card__body__rating p{
    color: var(--stat-headings);
    font-size: 12px;
    letter-spacing: 2px;
}

.card__body__paragraph{
    margin:1.5em 0;
    line-height: 1.6;
}

.card__body__rating{
    max-width:80%;
    display: flex;
    justify-content: space-between;
}

.card__image{
    position: relative;
}

.card__image__mobile-img{
    display: none;
}

.card__image::before{
    position: absolute;
    content:'';
    background-color: var(--accent);
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 1;
}

footer{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(189, 105, 222);
}

/* Media Queries */

@media screen and (max-width:68.75em) {
    .card{
        flex-direction: column-reverse;
        margin:2em;
    }
    .card__image__mobile-img{
        display: block;
    }
    .card__image__desktop-img{
        display: none;
    }
    .card__body{
        text-align: center;
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:34.375em) {
    .card__body{
        padding:1.5em;
    }
    .card__body__title{
        font-size: 13px;
    }
    .card__body__paragraph{
        font-size:10px;
    }
    .card__body__rating{
        flex-direction: column;
        margin: auto;
    }
    .card__body__rating > div{
        margin: .5em 0;
    }
}

@media screen and (max-width:20em){
    .card__body{
        padding: 1em;
    }
    .card__body__title{
        font-size: 10px;
    }
}
